* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #0ed8d8;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;              /* Habilita flexbox */
    flex-direction: column;     /* Ordena los elementos verticalmente */
    justify-content: center;    /* Centra el contenido verticalmente */
    align-items: center;        /* Centra el contenido horizontalmente */
    box-sizing: border-box;
  }
  
  header,
  section,
  footer {
    width: 100%;                /* Se adapta al ancho de la pantalla */
    max-width: 1200px;          /* Limita el ancho máximo */
  }
  
  header {
    background-color: #20162f;
    color: #c8f1ff;
  }
  
  .encabezadoLogo {
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  
  .nombreCarrera {
    margin: 5px;
    margin-left: 25px;
    text-align: left;
  }
  
  .enlaces {
    border: 2px solid black;
    background-color: #f480ed;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    text-decoration: 1x;
    margin-left: 25px;
  }
  
  nav ul li {
    margin-right: 60px;
    display: inline;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Secciones */
  section {
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Sección sobre mí */
  .sobreMi {
    background-color: #C8F1FF;
    height: auto;
    padding: 20px;
    border: 2px solid black;
  }
  #Sobre-Mi h2{
    font-size: 300%;
  }
  
  #Sobre-Mi img {
    display: block;
    margin: 10px auto;
    height: 300px;
    width: 200px;
  }
  #Sobre-Mi p{
    margin-left: 15px;
  }
  
  .title {
    margin: 10px;
    text-align: center;
    height: auto;
  }
  
  .contenedorImagen {
    display: flex;
    padding: 10px;
    border: 2px solid black;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 800px;
  }
  /*Habilidades*/
  .habilidades{
    padding: 25px;
    background-color: #FFFFFF;
    height: 300px;
  }
  .headHabilidad{
    border: 1px solid #C8F1FF;
    background-color: #C8F1FF;
    width: 250px;
    border-radius: 50px;
  }
  .habilidades-contenedor{
    margin: 10px;
    display: flex;
    width: 1050px;
  }
  #Habilidades h2{
    font-size: 200%;
    margin-left: 25px;
  }
  #Habilidades img{
    display: block;
    margin: 10px auto;
    margin-right: 25px;
    height: 200px;
    width: 250px;
  }
  /* Proyectos */
  .Proyectos {
    background-color: #f480ed;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
    max-width: 400px; /* Ajuste del formulario */
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #ccc;
  }
  
  form button {
    background-color: rgb(4, 48, 112);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 35px;
  }
  
  footer {
    background-color: black;
    color: aqua;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
  }
  